*{
    margin: 0;
    padding: 0;
}
h1{
    color: blue;
    font-size: 3rem;
}
p{
    font-style: italic;
}
h2{
    color: blue;
}
.r{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
form{
    color: bisque;
    align-items: baseline;
    flex-direction: column;
}
input{
    border-radius: 10px;
    height: 2rem;
    margin-bottom: 1rem;
    color: rgb(21, 5, 245);
    background-color: rgb(231, 220, 220);
}